body{
    background-color: #5B84B1FF;
}
#nb-nav {
    height: 110px;
    background-color: #FC766AFF;
}
.navbar-default .navbar-nav{
    border: solid white 2px;
}
.navbar-default .navbar-nav>li>a{
    color:#5B84B1FF;
    font-size: large;
    font-weight: bold;
    border-bottom:solid #5B84B1FF;
    
}
.navbar-brand {
    padding: 25px;
    width: 250px;
    height:100px
}
#menu{
    background-color:#FC766AFF;
    
}
h1{
    margin:0;
    font-weight: bold;
    color: #5B84B1FF;

}
h2{
    color: white;
    margin: 20px;
    font-size: 5em;
    
}

.nb-mbody>div{
    padding:10px 10px 10px ;
    top: 80px;
    
}

.nb-mbody div div{
    height:500px;
    background-color: #FC766AFF;
    
    color:white;
    
}
h3{
    font-size: 4em;
}


